.specific-budget-main {
  display: flex;
  flex-direction: column;
  gap: var(--sm);
  color: var(--main-text);
}
.specific-budget-main > h1 {
  margin: 0 var(--lg);
}

.specific-budget-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.specific-budget-main table {
  padding: 0 var(--left-margin);
}
