.root-layout {
  display: flex;
  flex-direction: column;
  background-color: var(--back-page);
}
.root-header {
  padding: var(--sm) 0;
  border-bottom: 2px solid gray;
  display: flex;
  align-items: center;
}
.root-navlink {
  text-decoration: none;
  color: var(--main-text);
  font-size: 1.2vw;
  transition: all ease-in-out 150ms;
}

.root-nav .root-navlink:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--main-text);
  transform: scale(1.1);
}

.root-nav {
  margin-left: var(--left-margin);
}
.root-logo {
  font-size: 2.8vw;
  margin-left: var(--left-margin);
}
.root-nav-list {
  list-style: none;
  display: flex;
  gap: var(--sm);
}
.user-icon-container {
  margin-left: var(--left-margin);
}

.root-profile-pic {
  width: 35px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
  outline: 2px solid var(--main-text);
  outline-offset: 2px;
}

.google-login-button {
  background-color: var(--back-page);
  transition: all 100ms ease-in-out;
  border: 1px solid var(--main-text);
  border-radius: var(--sm);
  padding: var(--xs);
  font-size: calc(var(--xs)*1.75);
  cursor: pointer;
  font-family: inherit;
  align-items: center;
  display: flex;
  gap: var(--sm);
}
.google-login-button img {
  width: calc(2.75*var(--xs));
}
.google-login-button:hover,
.google-login-button:active {
  background-color: var(--main-text);
}
.google-login-button p {
  color: var(--main-text);
}
.google-login-button:hover > p {
  color: var(--back-page);
}

.root-profile-pic:hover {
  transform: scale(1.05);
}

