.root-layout {
  display: flex;
  flex-direction: column;
  background-color: var(--back-page);
}
.root-header {
  padding: var(--sm) 0;
  border-bottom: 2px solid gray;
  display: flex;
  align-items: center;
}
.root-navlink {
  text-decoration: none;
  color: var(--main-text);
  font-size: 1.1rem;
}
.root-nav {
  margin-left: var(--left-margin);
}
.root-logo {
  font-size: 2.8rem;
  margin-left: var(--left-margin);
}
.root-nav-list {
  list-style: none;
  display: flex;
  gap: var(--sm);
}
.user-icon-container {
  margin-left: var(--left-margin);
}

.root-profile-pic {
  width: 35px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
  outline: 2px solid var(--main-text);
  outline-offset: 2px;
}
.root-profile-pic:hover {
  transform: scale(1.05);
}

.root-footer {
  color: var(--main-text);
  height: 35vh;
  display: flex;
  flex-direction: column;
  margin-top: var(--lg);
}

.footer-settings-container,
.footer-info-container {
  padding-top: var(--sm);
}

.footer-settings-container {
  border: 1px solid gray;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  height: 10vh;
}
.footer-dark-mode {
  display: flex;
  gap: var(--sm);
  align-items: center;
  margin-left: calc(0.5 * var(--left-margin));
  font-size: 1.2rem;
}


