/* Create Component */
.budget-create-main {
  flex: 1;
  max-width: 55%;
  display: flex;
  gap: var(--xs);
  padding: var(--sm) var(--md);
  flex-direction: column;
  border-radius: var(--sm);
  background-color: var(--background);
  box-shadow: var(--box-shadow);
}
.subtitle {
  font-weight: normal;
  margin-bottom: var(--sm);
}

.budget-create-holder,
.budget-create-section {
  display: flex;
  gap: 3px;
}

.budget-create-section {
  flex: 1;
  flex-direction: column;
}

.budget-create-separator {
  width: 1px;
  background-color: gray;
  border-radius: var(--md);
  margin: 0 var(--sm);
}

.budget-create-section .budget-create-label {
  color: gray;
  font-size: 0.9rem;
}

.budget-create-input {
  height: var(--md);
  font: inherit;
  font-size: 0.9rem;
  color: var(--main-text);
  border: none;
  outline: 1px gray solid;
  border-radius: var(--xs);
  padding: var(--xs);
  background-color: inherit;
}

.budget-create-input:active,
.budget-create-input:focus {
  outline-color: var(--primary);
  outline-width: 2px;
}

.budget-create-input::placeholder {
  font-style: italic;
  color: gray;
}

.budget-create-separator-horiz {
  height: 1px;
  margin: var(--sm) 0;
  border-radius: var(--md);
  background-color: gray;
}

.budget-create-btn-holder {
  display: flex;
  justify-content: space-between;
}

.budget-create-btn {
  font-family: inherit;
  border: none;
  background-color: inherit;
  border-radius: var(--xs);
  padding: var(--xs) var(--md);
  outline: var(--main-text) solid 2px;
  color: var(--main-text);
  cursor: pointer;
  transition: all ease-in-out 150ms;
}

.budget-create-btn-holder .budget-create-btn:nth-of-type(2) {
  background-color: var(--primary-greyed);
  outline: none;
}
.budget-create-btn-holder .budget-create-btn:nth-of-type(2):hover {
  background-color: var(--primary);
}

.budget-create-btn:hover {
  scale: 1.1;
}
.budget-create-btn-holder .budget-create-btn:nth-of-type(1):hover {
  background-color: var(--main-text);
  color: var(--background);
  scale: 1.1;
  outline: none;
}

.budget-create-categories {
  display: flex;
  gap: var(--xs);
  flex-wrap: wrap;
}
.budget-create-category-btn {
  font-family: inherit;
  border: none;
  color: inherit;
  background-color: var(--background-second);
  border-radius: var(--xs);
  padding: var(--xs) var(--md);
  cursor: pointer;
  transition: all ease-in 50ms;
}
.budget-create-category-btn:hover {
  background-color: rgb(220, 220, 220);
  color: var(--main-text);
}

.active-btn {
  background-color: rgb(220, 220, 220);
  outline: 2px var(--primary) solid;
  color: var(--main-text);
}

/* Create Component end */

/* Create Expenses */
.expense-create-main {
  flex: 1;
  display: flex;
  gap: var(--xs);
  padding: var(--sm) var(--md);
  flex-direction: column;
  border-radius: var(--sm);
  background-color: var(--background);
  /* outline: 3px solid var(--main-text); */
  box-shadow: var(--box-shadow);
  max-width: calc(3 * var(--left-margin));
}

.expense-create-holder {
  display: flex;
}
.expense-create-div {
  flex: 1;
  flex-direction: column;
  display: flex;
  gap: var(--xs);
}

.expense-create-label {
  color: gray;
  font-size: 0.9rem;
}

/* Create Expenses */

/* BudgetCard Main */
.budgetCard-main {
  display: flex;
  flex-direction: column;
  min-width: calc(2 * var(--left-margin));
  height: fit-content;
  outline: 3px solid var(--progress-colour);
  outline-offset: -3px;
  gap: var(--xs);
  border-radius: var(--xs);
  padding: var(--sm) var(--md);
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
  --specific-color: var(--progress-colour);
}

.description-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.budget-name {
  color: var(--budget-colour);
}
.description-line p {
  font-size: 0.7rem;
}

.budget-progress {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
}

.budget-progress::-webkit-progress-bar {
  background-color: var(--background-second);
}
.budget-progress::-webkit-progress-value {
  transition: all 150ms ease;
  background-color: var(--progress-colour);
}

.budget-progress::-webkit-progress-bar,
.budget-progress::-webkit-progress-value {
  border-radius: var(--xs);
}
.budgetCard-btn {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: gray solid 3px;
  border-radius: var(--xs);
  color: var(--main-text);
  padding: var(--xs);
  width: 120px;
  font-weight: bold;
  transition: all ease-in-out 150ms;
  text-decoration: none;
}
.budgetCard-btn:visited {
  color: var(--main-text);
}
.budgetCard-btn:hover {
  scale: 1.1;
  outline: none;
  color: white;
  background-color: var(--progress-colour);
}

/* BudgetCard Main */
