@import url("https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  /* Sizes */
  --xs: 0.55vw;
  --sm: 1.1vw;
  --md: 2.2vw;
  --lg: 4vw;
  --h1-size: 2.2vw;

  /* colors */
  --main-text: rgb(30, 30, 30);
  --primary: rgb(30, 80, 6);
  --back-page: white;
  --primary-greyed: rgba(35, 75, 0, 0.8);
  --background: whitesmoke;
  --background-second: rgb(200, 200, 200);

  --specific-color: rgba(120, 120, 120, 0.7);
  --box-shadow: 0px 2px 15px 3px var(--specific-color);

  /* Margins */
  --left-margin: calc(100vw / 7);
}
body {
  font-family: "Coustard", serif;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--main-text);
}
h1 {
  font-size: 1.5vw;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(210, 210, 210, 1);
}
::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(100, 100, 100);
}

.loader {
  width: 3vw;
  height: 3vw;
  border: 5px solid var(--primary);
  border-bottom-color: var(--back-page);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.checkbox-wrapper-7 .tgl {
  display: none;
}
.checkbox-wrapper-7 .tgl,
.checkbox-wrapper-7 .tgl:after,
.checkbox-wrapper-7 .tgl:before,
.checkbox-wrapper-7 .tgl *,
.checkbox-wrapper-7 .tgl *:after,
.checkbox-wrapper-7 .tgl *:before,
.checkbox-wrapper-7 .tgl + .tgl-btn {
  box-sizing: border-box;
}
.checkbox-wrapper-7 .tgl::-moz-selection,
.checkbox-wrapper-7 .tgl:after::-moz-selection,
.checkbox-wrapper-7 .tgl:before::-moz-selection,
.checkbox-wrapper-7 .tgl *::-moz-selection,
.checkbox-wrapper-7 .tgl *:after::-moz-selection,
.checkbox-wrapper-7 .tgl *:before::-moz-selection,
.checkbox-wrapper-7 .tgl + .tgl-btn::-moz-selection,
.checkbox-wrapper-7 .tgl::selection,
.checkbox-wrapper-7 .tgl:after::selection,
.checkbox-wrapper-7 .tgl:before::selection,
.checkbox-wrapper-7 .tgl *::selection,
.checkbox-wrapper-7 .tgl *:after::selection,
.checkbox-wrapper-7 .tgl *:before::selection,
.checkbox-wrapper-7 .tgl + .tgl-btn::selection {
  background: none;
}
.checkbox-wrapper-7 .tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 3em;
  height: 1.5em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox-wrapper-7 .tgl + .tgl-btn:after,
.checkbox-wrapper-7 .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.checkbox-wrapper-7 .tgl + .tgl-btn:after {
  left: 0;
}
.checkbox-wrapper-7 .tgl + .tgl-btn:before {
  display: none;
}
.checkbox-wrapper-7 .tgl:checked + .tgl-btn:after {
  left: 50%;
}

.checkbox-wrapper-7 .tgl-ios + .tgl-btn {
  background: var(--background);
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
  border: 1px solid var(--main-text);
}
.checkbox-wrapper-7 .tgl-ios + .tgl-btn:after {
  border-radius: 2em;
  background: var(--main-text);
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}
.checkbox-wrapper-7 .tgl-ios + .tgl-btn:hover:after {
  will-change: padding;
}
.checkbox-wrapper-7 .tgl-ios + .tgl-btn:active {
  box-shadow: inset 0 0 0 2em var(--main-text);
}
.checkbox-wrapper-7 .tgl-ios + .tgl-btn:active:after {
  padding-right: 0.8em;
}
.checkbox-wrapper-7 .tgl-ios:checked + .tgl-btn {
  background: var(--background);
}
.checkbox-wrapper-7 .tgl-ios:checked + .tgl-btn:active {
  box-shadow: none;
}
.checkbox-wrapper-7 .tgl-ios:checked + .tgl-btn:active:after {
  margin-left: -0.8em;
}
button:disabled {
  cursor: not-allowed;
}
button:disabled:hover {
  scale: 1;
}